<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Yourapp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="frameworks/css/bootstrap.css" rel="stylesheet"/>
    <link href="frameworks/css/bootstrap-theme.css" rel="stylesheet"/>
    <script src="frameworks/js/angular.js"></script>
    <style type="text/css">
        body {
            color: purple;
            background-color: #eeeeee
        }

        .well{
            background: #8c8c8c;
        }

        .btn {
            width: 50px;
            border-radius: 12px;
        }
    </style>
    <script>
        var app = angular.module("app", []);

        app.controller("appCtrl", function ($scope) {
            var val = "";
            $scope.digit = function (item) {
                val = val + item;
                $scope.value = val;
            }
        });
    </script>
</head>
<body ng-controller="appCtrl">

<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <span class="navbar-brand">Calculator</span>
    </div>
</nav>

<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <div class="well">
            <input type="text" class="form-control text-right" value="{{value}}" ng-init="value=0">
            <hr>
            <div class="text-center">
                <p>
                    <button type="button" class="btn btn-default btn-lg" ng-click="digit(7)">7</button>
                    <button type="button" class="btn btn-default btn-lg" ng-click="digit(8)">8</button>
                    <button type="button" class="btn btn-default btn-lg" ng-click="digit(9)">9</button>
                    <button type="button" class="btn btn-default btn-lg">/</button>
                </p>
                <p>
                    <button type="button" class="btn btn-default btn-lg" ng-click="digit(4)">4</button>
                    <button type="button" class="btn btn-default btn-lg" ng-click="digit(5)">5</button>
                    <button type="button" class="btn btn-default btn-lg" ng-click="digit(6)">6</button>
                    <button type="button" class="btn btn-default btn-lg">*</button>
                </p>
                <p>
                    <button type="button" class="btn btn-default btn-lg" ng-click="digit(1)">1</button>
                    <button type="button" class="btn btn-default btn-lg" ng-click="digit(2)">2</button>
                    <button type="button" class="btn btn-default btn-lg" ng-click="digit(3)">3</button>
                    <button type="button" class="btn btn-default btn-lg">+</button>
                </p>
                <p>
                    <button type="button" class="btn btn-default btn-lg" ng-click="digit(0)">0</button>
                    <button type="button" class="btn btn-default btn-lg" ng-click="digit('.')">.</button>
                    <button type="button" class="btn btn-default btn-lg">=</button>
                    <button type="button" class="btn btn-default btn-lg" ng-click="digit('-')">-</button>
                <p>
            </div>
        </div>
    </div>
</div>

</body>
</html>